@import "tailwindcss";  /* Tailwind import */
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  background-color: #010A13;
  @apply text-gray-100;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}

:root {
  font-size: 16px;
}