@import "tailwindcss";  /* Tailwind import */
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Beaufort';
  src: url("../assets/fonts/BeaufortforLOL-Regular.woff2") format('woff2'),
       url("../assets/fonts/BeaufortforLOL-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Spiegel';
  src: url("../assets/fonts/Spiegel-Regular.woff2") format('woff2'),
       url("../assets/fonts/Spiegel-Regular.woff") format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  background-color: #010A13;
  @apply text-gray-100;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Beaufort';
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}

:root {
  font-size: 16px;
}